<!DOCTYPE html>
<html>
  <head>
    <title><%= login %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= login %></h1>
    <p>Welcome to <%= login %></p>
  </body>
</html>
